<div data-controller="tags"> 
  <div class="rec-container col-s-6">
  <%= simple_form_for [@restaurant, @recommendation] do |f| %>
    <div class="content-box1">
      <%= f.input :content, label: false, class: "input-content", placeholder: 'Describe what you love about this place...'  %>
      <%= f.input :tag_list, class: "input-tags",  label: "Add Tags", input_html: { "data-tags-target" => "input"} %>
      <%= f.button :submit, "Add Recommendation", class: "button-recommendation" %>
    </div>
    
      <div class="photos">
        <%= f.input :photos, as: :file, input_html: { multiple: true }, label: "Add Photos:" %>
      </div>

      <div class="tags">
        
        <!-- <%= f.button :submit, "+ Tags", class: "button-recommendation"%> -->
      </div>
  </div>
  <% end %>

  <% tags = ["Casual-Dining", "Fine-Dining", "Family-Friendly", "Date-Night", "Group-Friendly", "Outdoor-Seating", "Romantic-Atmosphere", "Cozy-Atmosphere"] %>
  <div class="tags-container">
    <% tags.each do |tag| %>
      <div class="tag" >
        <p data-tags-target="element" data-action="click->tags#toggle"><%= tag %></p>
      </div>
    <% end %>
  </div>

</div>