<div class="container">
  <%= render "shared/search" %>

  <% if @restaurants.present? %>
    <!-- <h4 style="color: #A9A9A9; margin-top: 10px;"><em>Restaurants in <%= params[:query].capitalize %> </em></h4> -->

    <% @restaurants.each do |restaurant| %>
      <%= link_to restaurant_path(restaurant), class: "search-card-link" do %>
        <div class="search-card justify-content-start">
          <img src="<%= restaurant.photos %>" class="search-card-image">
          <div class="search-card-content">
          <div class="text-content-name">
            <h5><%= restaurant.name %></h5>
            <p><%= restaurant.location %></p>
            </div>
            <% if restaurant.wishlists.count > 0 %>
            <div class="wishlist-content">
              <p><%= restaurant.wishlists.count %> â¤ï¸</p>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>

  <% else %>
    <p><em>No restaurants found in <%= params[:query] %></em></p>
  <% end %>
</div>
