<div class="logo-container text-center">
  <%= image_tag "logo.svg", alt: "WeTaste Logo", class: "app-logo" %>
  <p class="app-slogan">Where Friends Meet Taste.</p>
</div>

<div class="container">
  <%= render "shared/search" %>

  <h3 style="margin-top: 30px;"><em>Places You'll Love</em></h3>

    <% @restaurants.each do |restaurant| %>
    <%= link_to restaurant do %>
      <div class="home-card">
        <img src="<%= restaurant.photos %>" class="home-card-image">
        <div class="home-card-content">
          <div class="restaurant-details">
            <p><%= restaurant.name %></p>
            <p><%= restaurant.location %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

</div>
