<div class="logo-container text-center">
  <%= image_tag "logo.svg", alt: "WeTaste Logo", class: "app-logo" %>
  <p class="app-slogan">Where Friends Meet Taste.</p>
</div>
<div class="container">
  <%= render "shared/search" %>
</div>
<%= render "shared/side_scroll_restaurants", title: "Because You Love It" %>
<div class="container scrollable-section">
  <div class="scrollable-wrapper mt-4">
    <% @categories.each do |category| %>
      <div class="category-item mb-0">
        <span class="emoji" style="margin-right: 5px;"><%= category[:emoji] %></span>
        <span class="title"><%= category[:title] %></span>
      </div>
    <% end %>
  </div>
</div>
<%= render "shared/side_scroll_restaurants", title: "Latest Added" %>
<%= render "shared/side_scroll_restaurants", title: "Near You" %>
