<div class="logo-container text-center">
  <%= image_tag "logo.svg", alt: "WeTaste Logo", class: "app-logo" %>
  <p class="app-slogan">Where Friends Meet Taste.</p>
</div>

<div class="container">
  <%= render "shared/search" %>

  <!-- Scrollable Section -->
  <h3 style="margin-top: 30px;"><em>Because You Love It</em></h3>
  <div class="scrollable-section">
    <div class="scrollable-wrapper">
      <% @restaurants.each do |restaurant| %>
        <%= link_to restaurant do %>
          <div class="home-card">
            <img src="<%= restaurant.photos %>" class="home-card-image">
            <div class="home-card-content">
              <div class="restaurant-details">
                <p><%= restaurant.name %></p>
                <p><%= restaurant.location %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <!-- Repeat the block for more sections -->
</div>
