<%= render "shared/search" %>


<% @restaurants.each do |restaurant| %>
    <p><%= restaurant.name %> </p>
    <p><%= restaurant.url %></p>
    <p><%= restaurant.location %></p>
    <p><%= link_to "Show this restaurant", restaurant %></p>
<% end %>

<!-- ICONS -->
<div class="icon-group">
    <span class="material-symbols-outlined">local_cafe</span></div>
