<% require 'pexels' %>
<% pexels = Pexels::Client.new(ENV['PEXELS_API_KEY']) %>

<div class="profile-header">
<% if current_user.photo.attached? %>
        <div class="profile-avatar"><%= cl_image_tag @user.photo.key, :width=>130, :crop=>"fill" %></div>
    <% else %>
        <div class="profile-avatar"><%= image_tag "https://marketplace.canva.com/EAFOWUXOOvs/1/0/1600w/canva-green-gradient-minimalist-simple-instagram-profile-picture-tBlf3wVYGhg.jpg", :width=>130, :crop=>"fill"  %> </div>
    <% end %>
    <div class="profile-bio">
        <h5><%= current_user.first_name %> <%= current_user.last_name %></h5>
        <p style="margin-bottom: 5px;"><strong>Based in: </strong><%=  current_user.location  %></p>
        <p><em> <%= current_user.bio %> </em></p>
    </div>
</div>



    <div class="stats-container">
        <!-- <div><p style="font-weight: bolder;">STATS</p></div> -->
        <div class="row">
            <div class="first-stat col">
                <p> <%= current_user.recommendations.count %></p>
                <p>Recommendations</p>
            </div>
            <div class="col">
                <p><%= current_user.wishlists.count %></p>
                <p>Wishlisted</p>
            </div>
    </div>
    </div>

    <div class="recommendations-container">
        <h5>MY RECOMMENDATIONS</h5>

        <% recs = current_user.recommendations %>
        <% sorted_recs = recs.group_by{ |rec| rec.restaurant.city } %>
        <div class="profile-row">
            <% sorted_recs.each do |city, recs| %>
                <div class="profile-card" >
                    <% response = pexels.photos.search(city, per_page: 1) %>
                    <img src="<%= response.photos[0].src["original"] %>" class="card-img-top" alt="<%= city %>">
                    <div class="card-body">
                        <%= form_with url: recs_path, method: :get, class: "d-flex" do %>
                                <%= hidden_field_tag :city, city %>
                                <%= submit_tag city, name: "" %>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>


    <% if recs.empty? %>
        <p style="text-align: center; color: #4d4d4d;"> <em>No recommendations yet. </em></p>
    <% end %>


    <p>--------------</p>





                <div><li class="nav-item dropdown">
                  <%= image_tag "dots.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <%= link_to "Remove from wishlist", "#", class: "dropdown-item" %>
                    <%= link_to "Another action", "#", class: "dropdown-item" %>
                  </div>
                </li>
              <%# end %></div>





    <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
</div>
