<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.location %></p>
<p><%= @restaurant.phone_number %></p>
<img> <%= @restaurant.photos %> </img>




<% if @user_restaurant_wishlist %>
  <%= button_to "Remove from Wishlist", restaurant_wishlist_path(@restaurant, @user_restaurant_wishlist), method: :delete, class: "btn btn-danger mb-3" %>
<% else %>
  <%= simple_form_for [@restaurant, @wishlist] do |f| %>
    <%= f.submit "Add to Wishlist", class: "btn btn-primary mb-3" %>
  <% end %>
<% end %>

<%= link_to "Add a Recommendation", new_restaurant_recommendation_path(@restaurant, @recommendation), class: "btn btn-primary mb-3"   %>



<p> ❤️ <%= Wishlist.where(restaurant_id: @restaurant.id).count %> wishlisted </p>

<h2> Recommendations </h2>
<% if @recommendations.empty? %>
  <p> No recommendations yet </p>
<% else %>
  <% @recommendations.each do |recommendation| %>
    <p class="m-0"> <%= recommendation.content %> </p>
    <small><em> —<%= recommendation.user.email %> </em></small>
    <% if current_user.recommendations.include?(recommendation) %>
        <div class="notification-actions">
            <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
            <a href="#">Delete <i class="far fa-trash-alt"></i></a>
        </div>
    <% end %>

    <!-- <% if recommendation.photos.attached? %>
      <% recommendation.photos.each do |photo| %>
        <%= image_tag photo %>
      <% end %> -->
    <% end %>
  <% end %>
<% end %>
