<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.location %></p>



<% user_wishlists = current_user.wishlists %>

<% wishlist = user_wishlists.find_by(restaurant_id: @restaurant.id) %>

<% if wishlist %>
  <%= button_to "Remove from Wishlist", restaurant_wishlist_path(@restaurant, wishlist), method: :delete, class: "btn btn-danger mb-3" %>
<% else %>
  <%= simple_form_for [@restaurant, @wishlist] do |f| %>
    <%= f.submit "Add to Wishlist", class: "btn btn-primary mb-3" %>
  <% end %>
<% end %>

<%= link_to "Add a Recommendation", new_restaurant_recommendation_path(@restaurant, @recommendation), class: "btn btn-primary mb-3"   %>
        


<p> ❤️ <%= Wishlist.where(restaurant_id: @restaurant.id).count %> wishlisted </p>

<h2> Recommendations </h2>
<% if @recommendations.empty? %>
  <p> No recommendations yet </p>
<% else %>
  <% @recommendations.each do |recommendation| %>
    <p class="m-0"> <%= recommendation.content %> </p>
    <small><em> —<%= recommendation.user.email %> </em></small>
   <% raise %>
    <% if current_user.recommendations.include?(recommendation) %>
      <%= button_to "Remove Recommendation", restaurant_recommendation_path(@restaurant, recommendation), method: :delete, class: "btn btn-danger mb-3" %>
    <% end %>

    <!-- <% if recommendation.photos.attached? %>
      <% recommendation.photos.each do |photo| %>
        <%= image_tag photo %>
      <% end %> -->
    <% end %>
  <% end %>
<% end %>



